:root {
  --brand-color-1: #fefefe;
  --brand-color-2: #1b0204;
  --brand-color-3: #e0e0e0;
  --brand-color-4: #c1c1c2;
  --brand-color-5: #a4a2a4;
  --brand-color-6: #201519;
  --brand-color-7: #837b7d;
  --brand-color-8: #3c2726;
}